---
title: Hello World
---

<header class="typeset">
  <h1>KeyCinch</h1>
</header>

<section class="typeset hero">
  <div class="container">
    <div class="content">
      <h1>The better way to do&nbsp;PGP</h1>
      <p>Demonstrate best security practices and prowess in your&nbsp;team.</p>
      <%= partial "signup_form" %>
    </div>
    <div class="illustration">
      <%= image_tag 'github.png' %>
    </div>
  </div>
</section>

<section class="typeset challenge">
  <div class="container">
    <h2>Managing your team's PGP setup is confusing and time consuming</h2>

    <div class="content">
      <p>Inadequate reminders to renew keys means people often forget. Then, if someone loses their password, they've irrevocably lost their data!</p>
      <p>Team members feel like it's something done for them, they don’t own it, let alone understand it!</p>
      <p>It's a confusing process to refresh team mates keys.</p>
    </div>

  </div>
</section>

<section class="typeset solution">

  <div class="container">
    <h2 style="padding-bottom: 1rem;">Easily implement rock-solid security for your team and your customers</h2>
  </div>

  <div class="container">
    <div class="feature">
      <%= image_tag 'sync.svg' %>
      <h3>Keep in sync</h3>
      <p>Automatically update keys and synchronise across the organisation. New starters and leavers are added and removed seamlessly.</p>
    </div>
    <div class="feature">
      <%= image_tag 'best.svg' %>
      <h3>The best keys</h3>
      <p>Ensure your team’s keys comply with best practice: Cipher, expiry, comment policy, etc</p>
    </div>
    <div class="feature">
      <%= image_tag 'imposter.svg' %>
      <h3>Spot imposters</h3>
      <p>Get alerted for any new keys claiming to be @yourdomain.com</p>
    </div>
  </div>

  <div class="container">
    <div class="feature">
      <%= image_tag 'signed.svg' %>
      <h3>Enforce signed code</h3>
      <p>Monitor code repositories to ensure all code is correctly signed.</p>
    </div>
    <div class="feature">
      <%= image_tag 'rotate.svg' %>
      <h3>Rotate keys periodically</h3>
      <p>Automatically generate new encryption keys every month for forward secrecy.</p>
    </div>
    <div class="feature">
      <%= image_tag 'everywhere.svg' %>
      <h3>Update everywhere</h3>
      <p>Keep your team’s keys in sync across the keyservers, Github and keybase.</p>
    </div>
  </div>

</section>

<footer></footer>