---
title: Master PGP for your team with Fluidkeys
---

<header class="typeset">
  <h1>Fluidkeys</h1>
</header>

<section class="typeset hero">
  <div class="container">
    <div class="content">
      <h1>Master PGP for your team</h1>
      <p>Implement best security practices and demonstrate your team’s expertise with PGP.</p>
      <%= partial "signup_form" %>
    </div>
    <div class="illustration">
      <%= image_tag 'github.png' %>
    </div>
  </div>
</section>

<section class="typeset challenge">
  <div class="container">
    <h2>Supporting PGP in a team is time consuming and error-prone</h2>
    <div class="content">
      <p>The steep learning curve means supporting new team members is time consuming and costly.
      <p>Keys get out of sync, leading to confusing errors. Verifying, retrieving and refreshing keys is a repetitive, manual process.
      <p>A lack of agreed best practice means lots of keys use old, insecure algorithms. Auditing a team’s keys often gets forgotten.</p>
    </div>
    <div class="illustration">
      <%= image_tag 'pain.png' %>
    </div>

  </div>
</section>

<section class="typeset solution">

  <div class="container">
    <div class="content">
      <h2 style="padding-bottom: 1rem;">Automate PGP for stronger, simpler&nbsp;security</h2>
      <%= image_tag "screenshot.png" %>
    </div>
  </div>

  <div class="container">
    <div class="feature">
      <%= image_tag 'everywhere.svg' %>
      <h3>Onboard new<br />team members</h3>
      <p>Guide new starters through generating a key, creating encrypted backups and revocation certificates.</p>
    </div>
    <div class="feature">
      <%= image_tag 'sync.svg' %>
      <h3>Keep your team<br />in sync</h3>
      <p>Automatically update keys and synchronise across the team. New starters and leavers are added and removed seamlessly.</p>
    </div>
    <div class="feature">
      <%= image_tag 'best.svg' %>
      <h3>Audit team keys against best practice</h3>
      <p>Use strong ciphers, short expiries and clear certification policies.</p>
    </div>
  </div>

  <div class="container">
    <div class="feature">
      <%= image_tag 'imposter.svg' %>
      <h3>Look out<br />for imposters!</h3>
      <p>Get alerted for any new keys claiming to be @yourdomain.com</p>
    </div>
    <div class="feature">
      <%= image_tag 'signed.svg' %>
      <h3>Enforce Github<br />signed commits</h3>
      <p>Monitor code repositories to ensure all code is correctly signed.</p>
    </div>
    <div class="feature">
      <%= image_tag 'rotate.svg' %>
      <h3>Rotate keys<br />periodically</h3>
      <p>Automatically generate new encryption keys every quarter for forward secrecy.</p>
    </div>
  </div>

</section>

<section class="typeset final-cta">
  <div class="container">
    <h2>Sign up for early access and get a free report about your team’s PGP&nbsp;practices</h2>
    <%= partial "signup_form" %>
  </div>
</section>